.rc-head-index{
    background: url(../img/back-index.jpg) no-repeat;
    background-size: cover;
    height: 596px;
}

.rc-head-logo{
    background: url(../img/logo-mini.png);
    height: 92px;
    width: 86px;
}

.rc-head-menu{
    background: rgba(0,0,0,.66);
    height: 40px;
    width: 100%;
    margin: 0;
}